
@{
    ViewData["Title"] = "BlogListExel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExel</h1>
<br />
<a href="/AdminArea/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Excel Dosyasını İndir</a>
@*<button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel Dosyasını İndir</button>

<script>
    function DownloadExcelBlogList() {
        wind.open("/AdminArea/Blog/ExportStaticExcelBlogList");
    }
</script>*@
